* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

header {
  background-image: -webkit-gradient(linear, left top, right top, from(#2C3E50), to(#233149));
  background-image: linear-gradient(to right, #2C3E50 0%, #233149 100%);
}

h1 {
  text-align: center;
  padding: 1rem;
}

h1 a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  padding-top: 3rem;
}

h2 {
  font-family: 'Hurricane', cursive;
  color: #4c865f;
  font-size: 24px;
  letter-spacing: 5px;
  padding-bottom: 3rem;
  text-align: center;
}

h3 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

p {
  font-family: "Montserrat", sans-serif;
}

.navbar-nav {
  display: inline block;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-decoration: none;
  background-color: #050505;
}

.nav-item {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  border: radius 3px;
}

.nav-item {
  display: inline block;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 3px;
  padding: 5px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
  border-radius: 3px;
}

main {
  background-color: #e8d3c3;
  margin: 0;
  padding: 15px;
}

main section p {
  text-align: center;
  padding-bottom: 90px;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

main div {
  text-align: center;
  font-size: "Montserrat", sans-serif;
}

main p {
  font-family: "Montserrat", sans-serif;
  color: #000;
}

main img {
  width: 45%;
  margin: 10px;
}

.bg-dark text-center text-white {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#2C3E50), to(#233140));
  background-image: linear-gradient(to top, #2C3E50 0%, #233140 100%);
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

/* animacion en footer */
.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.anim-typewriter {
  -webkit-animation: typewriter 2s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
  animation: typewriter 2s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 24em;
  }
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.clasDes {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  margin: 15px;
  text-align: center;
}

.caracDes {
  font-size: 17px;
  padding: 5px;
  margin: 15px;
  text-align: center;
}

.descriptionDes {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

#galeria img {
  width: 100%;
  height: 350px;
  margin: 5px;
}

#galeria img:hover {
  border: 6px solid #f7f7f7;
}

@media screen and (min-width: 720px) {
  .galleryContainer {
    float: inline-start;
  }
  .vidPro {
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
  }
}

@media (max-width: 600px) {
  .column {
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
  }
}
/*# sourceMappingURL=style.css.map */